body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
    background-color: #f2f2f2;
}

th:hover {
    background-color: #ddd;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #45a049;
}

.pagination span {
    padding: 8px 16px;
}


th.asc::after {
    content: '\25B2'; /* код символа для стрелки вверх */
    float: right;
}

th.desc::after {
    content: '\25BC'; /* код символа для стрелки вниз */
    float: right;
}