body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
	margin-bottom: 20px;
	border: 15px solid #bad6f6;
	border-top: 5px solid  #bad6f6;
	border-collapse: collapse;
}

 th {
	font-weight: bold;
	padding: 5px;
	background:  #bad6f6;
	border: none;
	border-bottom: 5px solid  #bad6f6;
    cursor: pointer;
}
 td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid  #bad6f6;
}

th:hover {
    background-color:  #a1c4ed;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #4f86c8;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #22538e;
}

.pagination span {
    padding: 8px 16px;
}


th.asc::after {
    content: '\25B2'; /* код символа для стрелки вверх */
    float: right;
}

th.desc::after {
    content: '\25BC'; /* код символа для стрелки вниз */
    float: right;
} 